.linkButton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 80px;
  background: $accent-red;
  border-radius: 40px;
  box-shadow: 0 4px 0 $button-red-shadow;
  font-size: 2.4rem;
  font-weight: 700;
  color: $white !important;
  letter-spacing: 0.04em;
  text-decoration: none;

  @include mq(lg) {
    transition: background-color 0.2s;

    > .text {
      transition: opacity 0.2s;
    }

    &:hover {
      opacity: 1;
      background-color: $button-red-hover;

      > .text {
        opacity: 0.7;
      }
    }
  }

  @include mq {
    width: 100%;
    height: 60px;
    box-shadow: 0 3px 0 $button-red-shadow;
    font-size: 2.1rem;
  }

  &:visited {
    color: $white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    display: block;
    width: 8px;
    height: 14px;
    margin: auto;
    background: url(/-/Media/Ricoh/Sites/co_jp/garment/special/ri100-loyalty/img/icon_arrow_right_yellow.svg)
      no-repeat center/contain;

    @include mq {
      right: 15px;
    }
  }

  &.-large {
    width: 500px;

    @include mq {
      width: 100%;
    }
  }

  &.-blank {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 30px;
      bottom: 0;
      display: block;
      width: 18px;
      height: 18px;
      margin: auto;
      background: url(/-/Media/Ricoh/Sites/co_jp/garment/special/ri100-loyalty/img/icon_blank.svg)
        no-repeat center/contain;

      @include mq {
        width: 12px;
        height: 12px;
      }
    }
  }
}
