// width
$base-width: 1280px;
$inner-width: 1000px;

// colors
$accent-red: #d7083b;
$accent-yellow: #fff54f;
$accent-blue: #4bb9b7;
$white: #fff;
$black: #000;

$button-red-shadow: #9d0128;
$button-red-hover: #de3962;
$button-white-hover: #fee4ea;

$border-gray: #e0dec3;
$border-light-gray: #d9d9d9;
$border-dark-red: #b60531;
$border-light-red: #e63561;

$bg-cream: #faf8e0;
$bg-yellow: $accent-yellow;
$bg-dark-yellow: #ffda2e;
$bg-pink: #ffeff3;
$bg-gray: #f4f4f4;
